# ignore Jupyter/Colab related doc
.ipynb_checkpoints/
__pycache__/
*.pyc

# ignore Python virtual env
env/
venv/

# ignore macOS system docs
.DS_Store

# ignore senssative materials
.env
*.key
*.pem

# ignore local doc
*.md
*.pdf
*.csv
*.xlsx
